{% trans_default_domain 'TadckaMapperBundle' %}

<div class="col-md-12 mapper-item{% if is_main %} is-main{% endif %}" data-slug="{{ item.slug }}">
    <strong>{{ item.name }}</strong>
    <input type="hidden" name="mapper_item[]" value="{{ item.slug }}">
    <input type="radio" name="main_mapper_item" {% if is_main %}checked="checked"{% endif %} value="{{ item.slug }}">

    <a href="javascript:;" class="fa fa-times mapper-remove" title="{{ 'remove_category'|trans }}"></a>
    <div class="clearfix"><!-- --></div>
    <span> Test / Test / Test / Test</span>
    <a href="javascript:;" class="mapper-main" title="{{ 'main_category'|trans }}">{{ 'main_category'|trans }}</a>
</div>