{% trans_default_domain 'TadckaMapperBundle' %}

<form method="post" action="{{ url('tadcka_mapper_post_mapping', {sourceSlug: source_slug, otherSourceSlug: other_source_slug, categorySlug: category_slug}) }}">

    {% for item in items %}
        {% include 'TadckaMapperBundle:Mapper:mapper_item.html.twig' with {item: item, is_main: main_category_slug == item.slug} %}
    {% endfor %}

    <div class="col-md-12 mapper-drop-place" data-current_source="{{ source_slug }}">
        <p>{{ 'drag_category_here'|trans }}</p>
    </div>
    <div class="clearfix"><!-- --></div>
    <div class="col-md-12 mapper-button">
        <button class="btn btn-primary form-submit">{{ 'save'|trans }}</button>
        <a class="btn btn-default form-cancel">{{ 'cancel'|trans }}</a>
    </div>
</form>