{% trans_default_domain 'TadckaMapperBundle' %}

{% block tadcka_mapper_widget -%}
    {% set vars = form.vars %}

    <div class="col-md-12">
        <div class="mapping-collection" data-prototype="{{ form_widget(vars.prototype)|e }}" data-index="{{ vars.data|length }}">

        </div>

        <div class="row">
            <div class="col-md-12 mapping-drop-place" data-current_source="{{ vars.source }}">
                <p>{{ 'drag_item_here'|trans }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mapper-button">
                <button class="btn btn-primary form-submit">{{ 'save'|trans }}</button>
                <a class="btn btn-default form-cancel">{{ 'cancel'|trans }}</a>
            </div>
        </div>
    </div>
{%- endblock tadcka_mapper_widget %}


{% block tadcka_mapper_mapping_widget -%}
    {% set vars = form.vars %}

    <div class="col-md-12 mapping">
        <strong class="title"></strong>
        <a href="javascript:;" class="fa fa-times remove" title="{{ 'remove_item'|trans }}"></a>
        <div class="item">
            {{ form_widget(form) }}
        </div>
    </div>

{%- endblock tadcka_mapper_mapping_widget %}