{% trans_default_domain 'TadckaMapperBundle' %}

{% block tadcka_mapper_widget -%}
    {% set vars = form.vars %}

    <div class="col-md-12">
        <div class="mapping-collection" data-prototype="{{ form_widget(form.mappings.vars.prototype)|e }}" data-index="{{ form.mappings.vars.data|length }}">
            {{ form_widget(form.mappings) }}
        </div>

        {{ form_widget(form.itemId) }}
        {{ form_widget(form.source) }}
        {{ form_widget(form.otherSource) }}

        <div class="row mapping-drop-place" data-current_source="{{ vars.source_metadata.name }}">
            <p>{{ 'drag_item_here'|trans }}</p>
        </div>

        <div class="row mapping-button">
            <button class="btn btn-primary form-submit">{{ 'save'|trans }}</button>
            <a class="btn btn-default form-cancel">{{ 'cancel'|trans }}</a>
        </div>
    </div>
{%- endblock tadcka_mapper_widget %}


{% block tadcka_mapper_mapping_widget -%}
    {% set vars = form.vars %}

    <div class="row mapping{% if vars.value.main is defined and vars.value.main %} is-main{% endif %}">
        <div>
            <strong class="title">{{ vars.title }}</strong>
            <a href="javascript:;" class="fa fa-times remove" title="{{ 'remove_item'|trans }}"></a>
            <div class="item">
                {{ form_widget(form) }}
            </div>
        </div>
        <span class="full-path">
            {% if vars.value.item is defined %}
                {{ mapper_tree_full_path(vars.value.item, vars.source_metadata) }}
            {% endif %}
        </span>
        <a href="javascript:;" class="main" title="{{ 'main_item'|trans }}">{{ 'main_item'|trans }}</a>
    </div>
{%- endblock tadcka_mapper_mapping_widget %}